.heading{
    background-image: url(images/background2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
}
.heading h1{
    margin: 5px;
    padding: 2px;
  }
  .heading h2{
    padding: 2px;
    font-size: medium;
    margin-bottom: 100px;
  }
  #dlogo{
    margin-top: 12px;
    margin-bottom: 100px;
    width: 70px;
    height: 70px;;
  }