.heading {
    background-image: url(images/background2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 17%;
    font-family: 'Gabriela', serif;
}

.heading h1 {
    margin: 5px;
    padding: 2px;
}

.heading h2 {
    padding: 2px;
    font-size: medium;
    margin-bottom: 100px;
}

#dlogo {
    margin-top: 12px;
    margin-bottom: 100px;
    width: 70px;
    height: 70px;
    ;
}

#mouse-icon {
    margin-top: 5%;
    padding-top: 22px;
    padding-bottom: 30px;
}

#mouse-icon {
    animation: bounce 2s infinite;
}

.about {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: small;
}
.services{
    background-image: url(images/background3.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    text-align: center;
}
#servicesoffered{
    background-color: rgba(0,0,0,0.4);
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .whats-offered{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
  }
  .whats-offered .headings{
    padding-bottom: 40px;
  }
 
  .contact{
    background-image: url('images/background1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }
