@import url("https://fonts.google.com/");
html{
  scroll-behavior: smooth;
}
.heading {
  background-image: url(images/background2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 17%;
  font-family: 'Gabriela', serif;
  background-size: 80%;
}

.heading h1 {
  margin: 5px;
  padding: 2px;
}

.heading h2 {
  padding: 2px;
  font-size: medium;
  margin-bottom: 100px;
}

#dlogo {
  margin-top: 12px;
  margin-bottom: 100px;
  width: 70px;
  height: 70px;
  ;
}

#mouse-icon {
  margin-top: 5%;
  padding-top: 22px;
  padding-bottom: 30px;
}

#mouse-icon {
  animation: bounce 2s infinite;
}

.about {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
  font-family: sans-serif;
  font-size: medium;
  background-size: 80%;
}

.services {
  background-image: url(images/background3.jpg);
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: smaller;
  text-align: center;
  background-size: 80%;
}

#servicesoffered {
  padding-top: 5%;
  padding-bottom: 5%;
}

.whats-offered {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.whats-offered .headings {
  padding-bottom: 40px;
}

.contact {
  background-image: url('images/background1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  } */
input[type=text],
input[type=email],
#message {
  background: transparent;
  color: white;
  font-size: 30px;
  width: 30%;
  font-family: 'Copse', serif;
}

.title {
  padding: 5px;
}

.contact h2 {
  text-align: center;
  margin-top: 25px;
  padding-top: 38px;
  padding-bottom: 20px;
  font-family: 'Gabriela', serif;
}

#message {
  margin-left: 20%;
  width: 60%;
  background: transparent;
  height: 60%;
}

button {
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 18%;
  margin-right: 18%;
  width: 50%;
}

.portfolio h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#product,
#development,
#design {
  display: none;
  font-family: Copse;
  font-size: 16px;
}

#product .title,
#development .title,
#design .title {
  font-size: 20px;
  font-weight: 600;
}

/* #lab1,#lab2,#lab3,#lab4,#lab5,#lab6,#lab7,#lab8 {
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color: rgb(116, 147, 240);
  text-align: center;
} */

footer {
  text-align: center;
  padding-top: 30px;
  font-family: 'Delius Swash Caps', cursive;
}

footer p {
  margin-top: 10px;
}

@media only screen and (min-width: 625px) {
  #lab1,#lab2,#lab3,#lab4,#lab5,#lab6,#lab7,#lab8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top: 20%;
    font-size: 26px;
  }
  }
  /* #port1,#port2,#port3,#port4,#port5,#port6,#port7,#port8 {
    margin: 5px;
    width: 10%;
    height: min-content;
  } */

  #portfolio {
    margin-left: 10%;
    margin-right: 10%;
  }

  @media only screen and (min-width: 825px) {
    #lab1,#lab2,#lab3,#lab4,#lab5,#lab6,#lab7,#lab8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top: 30%;
    }

    #portfolio {
      margin-left: 10%;
      margin-right: 10%;
    };
  }
  #IDENTITY {
    float: left;
  }
  #MAIL {
    float: right;
  }
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  
  
  .background {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  .hidentext {
    background:white; 
    color: black;  
    display:none;
  }
  